.invisible-cursor {
  cursor: none;
}

#header {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  color: yellow;
  display: block;
  text-align: center;
  font-size: 20px;
  background: none;
}
#score {
  margin-bottom: 5px;
}


#loading {
  position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#loading.active{
  display: flex;
}

#loading img {
  max-width: 100px;
}

#loading p {
  font-size: 22px;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

#lives {
  position: absolute;
  right: 20%;
  top: 5%;
  display: flex;
}

#lives img {
  max-width: 25px;
  display: block;
  margin: 0 2px;
}

#lives img {
  max-width: 25px;
  display: block;
  margin: 0 2px;
}

#lives img.hide {
  display: none;
}


/* MEDIA QUERIES */

@media (max-width: 1200px) {
  #lives {
    right: 10%;
  }
}

@media (max-width: 980px) {
  #header {
    width: max-content;
    left: 5%;
    text-align: left;
    top: 3%;
  }

  #lives {
    right: 5%;
  }

  #header p{
    margin: 0;
    font-size: 18px;
  }
}

@media (max-width: 680px) {
  #lives {
    right: 1%;
  }

  #header p{
    font-size: 16px;
  }
}

@media (max-width: 370px) {
  #lives img{
    max-width: 18px;
  }
}


.video-game-button {       
  width: 3em;
  line-height: 3em;
  border-radius: 1.5em; /* 1.5 to be round */
  cursor: pointer;
  position: fixed;             
  font-size: 20pt;            
  color:white;       
  background-color: rgba(224, 19, 19, 0.007);   
  background-image: linear-gradient(var(--unselected));
  background-image: -moz-linear-gradient(var(--unselected)); 
  background-image: -o-linear-gradient(var(--unselected));
  background-image: -webkit-linear-gradient(var(--unselected));
  -webkit-tap-highlight-color: rgba(0,0,0,0);            
  user-select: none;     
} 
.video-game-button:active 
{
  background-image: linear-gradient(var(--selected));
  background-image: -moz-linear-gradient(var(--selected)); 
  background-image: -o-linear-gradient(var(--selected));
  background-image: -webkit-linear-gradient(var(--selected));
}   